CREATE DATABASE QLXUATNHAPKHAU
GO
USE [QLXUATNHAPKHAU]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOP_DONG]    Script Date: 16/12/2024 5:45:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOP_DONG](
	[MAHD] [char](20) NOT NULL,
	[MASP] [char](20) NOT NULL,
	[SOLUONG] [decimal](15, 2) NULL,
	[TONGTIEN] [decimal](15, 2) NULL,
 CONSTRAINT [PK_CHI_TIET_HOP_DONG] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_NHAP_NGUYEN_LIEU]    Script Date: 16/12/2024 5:45:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_NHAP_NGUYEN_LIEU](
	[MAPNHAPNL] [char](20) NOT NULL,
	[MANL] [char](20) NOT NULL,
	[SOLUONGNHAP] [decimal](15, 2) NULL,
	[TONGGIATRI] [decimal](15, 2) NULL,
	[NGAYNHAP] [datetime] NULL,
 CONSTRAINT [PK_CHI_TIET_NHAP_NGUYEN_LIEU] PRIMARY KEY CLUSTERED 
(
	[MAPNHAPNL] ASC,
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_NHAP_SAN_PHAM]    Script Date: 16/12/2024 5:45:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_NHAP_SAN_PHAM](
	[MASP] [char](20) NOT NULL,
	[MAPNHAPSP] [char](20) NOT NULL,
	[SOLUONGNHAP] [decimal](15, 2) NULL,
	[TONGGIATRI] [decimal](15, 2) NULL,
	[NGAYNHAP] [datetime] NULL,
 CONSTRAINT [PK_CHI_TIET_NHAP_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MAPNHAPSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_XUAT_NGUYEN_LIEU]    Script Date: 16/12/2024 5:45:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_XUAT_NGUYEN_LIEU](
	[MANL] [char](20) NOT NULL,
	[MAPXUATNL] [char](20) NOT NULL,
	[SOLUONGXUAT] [decimal](15, 2) NULL,
	[TONGGIATRI] [decimal](15, 2) NULL,
 CONSTRAINT [PK_CHI_TIET_XUAT_NGUYEN_LIEU] PRIMARY KEY CLUSTERED 
(
	[MANL] ASC,
	[MAPXUATNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_XUAT_SAN_PHAM]    Script Date: 16/12/2024 5:45:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_XUAT_SAN_PHAM](
	[MASP] [char](20) NOT NULL,
	[MAPXUATSP] [char](20) NOT NULL,
	[SOLUONGXUAT] [decimal](15, 2) NULL,
	[TONGGIATRI] [decimal](15, 2) NULL,
 CONSTRAINT [PK_CHI_TIET_XUAT_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MAPXUATSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CO_CAU_SAN_PHAM]    Script Date: 16/12/2024 5:45:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CO_CAU_SAN_PHAM](
	[MANL] [char](20) NOT NULL,
	[MASP] [char](20) NOT NULL,
	[SLNGUYENLIEU] [decimal](15, 2) NULL,
 CONSTRAINT [PK_CO_CAU_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MANL] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOP_DONG]    Script Date: 16/12/2024 5:45:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOP_DONG](
	[MAHD] [char](20) NOT NULL,
	[MANV] [char](20) NOT NULL,
	[MAKH] [char](20) NOT NULL,
	[NGAYKY] [datetime] NULL,
	[THOIGIANGIAO] [datetime] NULL,
	[NOIGIAO] [nvarchar](100) NULL,
	[PHUONGTHUCTHANHTOAN] [nvarchar](40) NULL,
	[TRIGIA] [decimal](15, 2) NULL,
	[TINHTRANGHD] [nvarchar](40) NULL,
 CONSTRAINT [PK_HOP_DONG] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 16/12/2024 5:45:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MAKH] [char](20) NOT NULL,
	[HOTENKH] [nvarchar](50) NULL,
	[SDT] [nvarchar](20) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MANV] [char](20) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYEN_LIEU]    Script Date: 16/12/2024 5:45:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYEN_LIEU](
	[MANL] [char](20) NOT NULL,
	[TENNL] [nvarchar](50) NULL,
	[DONVITINH] [nvarchar](50) NULL,
	[DONGIA] [decimal](15, 2) NULL,
	[SOLUONG] [decimal](15, 2) NULL,
 CONSTRAINT [PK_NGUYEN_LIEU] PRIMARY KEY CLUSTERED 
(
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 16/12/2024 5:45:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MANCC] [char](20) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MASOTHUE] [nvarchar](20) NULL,
	[SDT] [nvarchar](20) NULL,
 CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 16/12/2024 5:45:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MANV] [char](20) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[SDT] [nvarchar](20) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[CHUCVU] [nvarchar](40) NULL,
	[PHONGBAN] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHAN_XUONG]    Script Date: 16/12/2024 5:45:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHAN_XUONG](
	[MAPX] [char](20) NOT NULL,
	[TENPX] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
 CONSTRAINT [PK_PHAN_XUONG] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_NHAP_NGUYEN_LIEU]    Script Date: 16/12/2024 5:45:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP_NGUYEN_LIEU](
	[MAPNHAPNL] [char](20) NOT NULL,
	[MANCC] [char](20) NOT NULL,
	[MANV] [char](20) NOT NULL,
	[NGAYMUA] [datetime] NULL,
	[TONGTIEN] [decimal](15, 2) NULL,
 CONSTRAINT [PK_PHIEU_NHAP_NGUYEN_LIEU] PRIMARY KEY CLUSTERED 
(
	[MAPNHAPNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_NHAP_SAN_PHAM]    Script Date: 16/12/2024 5:45:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP_SAN_PHAM](
	[MAPNHAPSP] [char](20) NOT NULL,
	[MAPX] [char](20) NOT NULL,
	[MANV] [char](20) NOT NULL,
	[NGAYNHAP] [datetime] NULL,
	[TONGTIEN] [decimal](15, 2) NULL,
 CONSTRAINT [PK_PHIEU_NHAP_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MAPNHAPSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_XUAT_NGUYEN_LIEU]    Script Date: 16/12/2024 5:45:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_XUAT_NGUYEN_LIEU](
	[MAPXUATNL] [char](20) NOT NULL,
	[MAPX] [char](20) NOT NULL,
	[MANV] [char](20) NULL,
	[NGAYXUAT] [datetime] NULL,
	[TONGTIEN] [decimal](15, 2) NULL,
 CONSTRAINT [PK_PHIEU_XUAT_NGUYEN_LIEU] PRIMARY KEY CLUSTERED 
(
	[MAPXUATNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_XUAT_SAN_PHAM]    Script Date: 16/12/2024 5:45:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_XUAT_SAN_PHAM](
	[MAPXUATSP] [char](20) NOT NULL,
	[MANV] [char](20) NOT NULL,
	[MAHD] [char](20) NOT NULL,
	[NGAYXUAT] [datetime] NULL,
	[TONGTIEN] [decimal](15, 2) NULL,
 CONSTRAINT [PK_PHIEU_XUAT_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MAPXUATSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 16/12/2024 5:45:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MASP] [char](20) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[DONVITINH] [nvarchar](50) NULL,
	[DONGIA] [decimal](15, 2) NULL,
	[SOLUONG] [decimal](15, 2) NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 16/12/2024 5:45:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[MATK] [char](20) NOT NULL,
	[MANV] [char](20) NULL,
	[MAKH] [char](20) NULL,
	[TENDANGNHAP] [nvarchar](50) NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[LOAITK] [nvarchar](20) NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHI_TIET_HOP_DONG] ([MAHD], [MASP], [SOLUONG], [TONGTIEN]) VALUES (N'HD01                ', N'SP01                ', CAST(1.00 AS Decimal(15, 2)), CAST(100000.00 AS Decimal(15, 2)))
INSERT [dbo].[CHI_TIET_HOP_DONG] ([MAHD], [MASP], [SOLUONG], [TONGTIEN]) VALUES (N'HD01                ', N'SP02                ', CAST(2.00 AS Decimal(15, 2)), CAST(400000.00 AS Decimal(15, 2)))
INSERT [dbo].[CHI_TIET_HOP_DONG] ([MAHD], [MASP], [SOLUONG], [TONGTIEN]) VALUES (N'HD02                ', N'SP01                ', CAST(3.50 AS Decimal(15, 2)), CAST(350000.00 AS Decimal(15, 2)))
GO
INSERT [dbo].[CHI_TIET_NHAP_NGUYEN_LIEU] ([MAPNHAPNL], [MANL], [SOLUONGNHAP], [TONGGIATRI], [NGAYNHAP]) VALUES (N'PNNL01              ', N'NL01                ', CAST(5.00 AS Decimal(15, 2)), CAST(250000.00 AS Decimal(15, 2)), CAST(N'2024-12-16T17:37:16.000' AS DateTime))
INSERT [dbo].[CHI_TIET_NHAP_NGUYEN_LIEU] ([MAPNHAPNL], [MANL], [SOLUONGNHAP], [TONGGIATRI], [NGAYNHAP]) VALUES (N'PNNL01              ', N'NL02                ', CAST(5.00 AS Decimal(15, 2)), CAST(250000.00 AS Decimal(15, 2)), CAST(N'2024-12-16T17:37:16.000' AS DateTime))
INSERT [dbo].[CHI_TIET_NHAP_NGUYEN_LIEU] ([MAPNHAPNL], [MANL], [SOLUONGNHAP], [TONGGIATRI], [NGAYNHAP]) VALUES (N'PNNL01              ', N'NL03                ', CAST(5.00 AS Decimal(15, 2)), CAST(250000.00 AS Decimal(15, 2)), CAST(N'2024-12-16T17:37:16.000' AS DateTime))
GO
INSERT [dbo].[HOP_DONG] ([MAHD], [MANV], [MAKH], [NGAYKY], [THOIGIANGIAO], [NOIGIAO], [PHUONGTHUCTHANHTOAN], [TRIGIA], [TINHTRANGHD]) VALUES (N'HD01                ', N'NV02                ', N'KH01                ', CAST(N'2024-12-08T20:37:48.923' AS DateTime), CAST(N'2024-12-08T12:00:00.000' AS DateTime), N'TP.HCM', N'Chuyển khoản', CAST(500000.00 AS Decimal(15, 2)), N'Đã giao')
INSERT [dbo].[HOP_DONG] ([MAHD], [MANV], [MAKH], [NGAYKY], [THOIGIANGIAO], [NOIGIAO], [PHUONGTHUCTHANHTOAN], [TRIGIA], [TINHTRANGHD]) VALUES (N'HD02                ', N'NV02                ', N'KH01                ', CAST(N'2024-12-08T23:10:41.850' AS DateTime), CAST(N'2024-12-10T18:00:00.000' AS DateTime), N'Tp.HCM', N'Tiền mặt', CAST(1050000.00 AS Decimal(15, 2)), N'Đã giao')
INSERT [dbo].[HOP_DONG] ([MAHD], [MANV], [MAKH], [NGAYKY], [THOIGIANGIAO], [NOIGIAO], [PHUONGTHUCTHANHTOAN], [TRIGIA], [TINHTRANGHD]) VALUES (N'HD03                ', N'NV01                ', N'KH01                ', CAST(N'2024-12-12T23:51:27.807' AS DateTime), CAST(N'2024-12-12T12:00:00.000' AS DateTime), N'Quận 8', N'Tiền mặt', CAST(400000.00 AS Decimal(15, 2)), N'Đã giao')
GO
INSERT [dbo].[KHACH_HANG] ([MAKH], [HOTENKH], [SDT], [DIACHI], [EMAIL], [MANV]) VALUES (N'KH01                ', N'Nguyễn Quang Ngọc', N'123456', N'TP.HCM', N'nqngoc120304.nvtroi1922@gmail.com', N'NV01                ')
GO
INSERT [dbo].[NGUYEN_LIEU] ([MANL], [TENNL], [DONVITINH], [DONGIA], [SOLUONG]) VALUES (N'NL01                ', N'Nguyên liệu X', N'Kg', CAST(50000.00 AS Decimal(15, 2)), CAST(15.00 AS Decimal(15, 2)))
INSERT [dbo].[NGUYEN_LIEU] ([MANL], [TENNL], [DONVITINH], [DONGIA], [SOLUONG]) VALUES (N'NL02                ', N'Nguyên liệu X', N'Lít', CAST(50000.00 AS Decimal(15, 2)), CAST(15.00 AS Decimal(15, 2)))
INSERT [dbo].[NGUYEN_LIEU] ([MANL], [TENNL], [DONVITINH], [DONGIA], [SOLUONG]) VALUES (N'NL03                ', N'Nguyên liệu X', N'Gram', CAST(50000.00 AS Decimal(15, 2)), CAST(15.00 AS Decimal(15, 2)))
GO
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TENNCC], [DIACHI], [MASOTHUE], [SDT]) VALUES (N'NCC001              ', N'Công ty TNHH ABC', N'123 Đường A, Quận 1, TP.HCM', N'123456789', N'0987654321')
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TENNCC], [DIACHI], [MASOTHUE], [SDT]) VALUES (N'NCC002              ', N'Công ty CP XYZ', N'456 Đường B, Quận 2, Hà Nội', N'987654321', N'0912345678')
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TENNCC], [DIACHI], [MASOTHUE], [SDT]) VALUES (N'NCC003              ', N'Doanh nghiệp DEF', N'789 Đường C, Quận 3, Đà Nẵng', N'111222333', N'0908765432')
GO
INSERT [dbo].[NHAN_VIEN] ([MANV], [HOTEN], [SDT], [DIACHI], [EMAIL], [CHUCVU], [PHONGBAN]) VALUES (N'NV01                ', N'Nguyễn Trần Gia Huy', N'123456789', N'Củ Chi', N'123456@gmail.com', N'Nhân viên', N'Phòng cung ứng')
INSERT [dbo].[NHAN_VIEN] ([MANV], [HOTEN], [SDT], [DIACHI], [EMAIL], [CHUCVU], [PHONGBAN]) VALUES (N'NV02                ', N'Nguyễn Hoàng Phong', N'123456789', N'Tp.HCM', N'123456@gmail.com', N'Nhân viên', N'Phòng kế toán')
INSERT [dbo].[NHAN_VIEN] ([MANV], [HOTEN], [SDT], [DIACHI], [EMAIL], [CHUCVU], [PHONGBAN]) VALUES (N'NV03                ', N'Lê Nguyễn Minh Hoàng', N'1234567890', N'Đồng Nai', N'123456789@gmail.com', N'Quản lý', N'Trưởng phòng')
GO
INSERT [dbo].[PHAN_XUONG] ([MAPX], [TENPX], [DIACHI]) VALUES (N'PX01                ', N'Phân xưởng A', N'123 Đường X, Quận 1, TP.HCM')
INSERT [dbo].[PHAN_XUONG] ([MAPX], [TENPX], [DIACHI]) VALUES (N'PX02                ', N'Phân xưởng B', N'456 Đường Y, Quận 2, Hà Nội')
INSERT [dbo].[PHAN_XUONG] ([MAPX], [TENPX], [DIACHI]) VALUES (N'PX03                ', N'Phân xưởng C', N'789 Đường Z, Quận 3, Đà Nẵng')
GO
INSERT [dbo].[PHIEU_NHAP_NGUYEN_LIEU] ([MAPNHAPNL], [MANCC], [MANV], [NGAYMUA], [TONGTIEN]) VALUES (N'PNNL01              ', N'NCC001              ', N'NV03                ', CAST(N'2024-12-16T00:00:00.000' AS DateTime), CAST(750000.00 AS Decimal(15, 2)))
GO
INSERT [dbo].[SAN_PHAM] ([MASP], [TENSP], [DONVITINH], [DONGIA], [SOLUONG]) VALUES (N'SP01                ', N'Sản phẩm A', N'Cái', CAST(100000.00 AS Decimal(15, 2)), CAST(404.00 AS Decimal(15, 2)))
INSERT [dbo].[SAN_PHAM] ([MASP], [TENSP], [DONVITINH], [DONGIA], [SOLUONG]) VALUES (N'SP02                ', N'Sản phẩm B', N'Chiếc', CAST(200000.00 AS Decimal(15, 2)), CAST(13.50 AS Decimal(15, 2)))
INSERT [dbo].[SAN_PHAM] ([MASP], [TENSP], [DONVITINH], [DONGIA], [SOLUONG]) VALUES (N'SP03                ', N'Sản phẩm C', N'Hộp', CAST(150000.00 AS Decimal(15, 2)), CAST(1.00 AS Decimal(15, 2)))
GO
INSERT [dbo].[TAI_KHOAN] ([MATK], [MANV], [MAKH], [TENDANGNHAP], [MATKHAU], [LOAITK]) VALUES (N'TK01                ', N'NV01                ', NULL, N'HUY', N'123', N'NhanVien')
INSERT [dbo].[TAI_KHOAN] ([MATK], [MANV], [MAKH], [TENDANGNHAP], [MATKHAU], [LOAITK]) VALUES (N'TK02                ', N'NV02                ', NULL, N'PHONG', N'123', N'NhanVien')
INSERT [dbo].[TAI_KHOAN] ([MATK], [MANV], [MAKH], [TENDANGNHAP], [MATKHAU], [LOAITK]) VALUES (N'TK03                ', NULL, N'KH01                ', N'NGỌC', N'KH01', N'KhachHang')
GO
ALTER TABLE [dbo].[CHI_TIET_HOP_DONG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HOP_DONG_HOP_DONG] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOP_DONG] ([MAHD])
GO
ALTER TABLE [dbo].[CHI_TIET_HOP_DONG] CHECK CONSTRAINT [FK_CHI_TIET_HOP_DONG_HOP_DONG]
GO
ALTER TABLE [dbo].[CHI_TIET_HOP_DONG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HOP_DONG_SAN_PHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SAN_PHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHI_TIET_HOP_DONG] CHECK CONSTRAINT [FK_CHI_TIET_HOP_DONG_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_NHAP_NGUYEN_LIEU]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CHI_TIET__NHAPNL] FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYEN_LIEU] ([MANL])
GO
ALTER TABLE [dbo].[CHI_TIET_NHAP_NGUYEN_LIEU] CHECK CONSTRAINT [FK_CHI_TIET_CHI_TIET__NHAPNL]
GO
ALTER TABLE [dbo].[CHI_TIET_NHAP_NGUYEN_LIEU]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CHI_TIET__PHIEU_NHAPNL] FOREIGN KEY([MAPNHAPNL])
REFERENCES [dbo].[PHIEU_NHAP_NGUYEN_LIEU] ([MAPNHAPNL])
GO
ALTER TABLE [dbo].[CHI_TIET_NHAP_NGUYEN_LIEU] CHECK CONSTRAINT [FK_CHI_TIET_CHI_TIET__PHIEU_NHAPNL]
GO
ALTER TABLE [dbo].[CHI_TIET_NHAP_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CHI_TIET__NHAP_SAN_PHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SAN_PHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHI_TIET_NHAP_SAN_PHAM] CHECK CONSTRAINT [FK_CHI_TIET_CHI_TIET__NHAP_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_NHAP_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CHI_TIET__PHIEU_NHAPSP] FOREIGN KEY([MAPNHAPSP])
REFERENCES [dbo].[PHIEU_NHAP_SAN_PHAM] ([MAPNHAPSP])
GO
ALTER TABLE [dbo].[CHI_TIET_NHAP_SAN_PHAM] CHECK CONSTRAINT [FK_CHI_TIET_CHI_TIET__PHIEU_NHAPSP]
GO
ALTER TABLE [dbo].[CHI_TIET_XUAT_NGUYEN_LIEU]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CHI_TIET__PHIEU_XUATNL] FOREIGN KEY([MAPXUATNL])
REFERENCES [dbo].[PHIEU_XUAT_NGUYEN_LIEU] ([MAPXUATNL])
GO
ALTER TABLE [dbo].[CHI_TIET_XUAT_NGUYEN_LIEU] CHECK CONSTRAINT [FK_CHI_TIET_CHI_TIET__PHIEU_XUATNL]
GO
ALTER TABLE [dbo].[CHI_TIET_XUAT_NGUYEN_LIEU]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CHI_TIET__XUATNL] FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYEN_LIEU] ([MANL])
GO
ALTER TABLE [dbo].[CHI_TIET_XUAT_NGUYEN_LIEU] CHECK CONSTRAINT [FK_CHI_TIET_CHI_TIET__XUATNL]
GO
ALTER TABLE [dbo].[CHI_TIET_XUAT_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CHI_TIET__PHIEU_XUATSP] FOREIGN KEY([MAPXUATSP])
REFERENCES [dbo].[PHIEU_XUAT_SAN_PHAM] ([MAPXUATSP])
GO
ALTER TABLE [dbo].[CHI_TIET_XUAT_SAN_PHAM] CHECK CONSTRAINT [FK_CHI_TIET_CHI_TIET__PHIEU_XUATSP]
GO
ALTER TABLE [dbo].[CHI_TIET_XUAT_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CHI_TIET__XUAT_SAN_PHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SAN_PHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHI_TIET_XUAT_SAN_PHAM] CHECK CONSTRAINT [FK_CHI_TIET_CHI_TIET__XUAT_SAN_PHAM]
GO
ALTER TABLE [dbo].[HOP_DONG]  WITH CHECK ADD  CONSTRAINT [FK_HOP_DONG_RELATIONS_KHACH_HA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH_HANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOP_DONG] CHECK CONSTRAINT [FK_HOP_DONG_RELATIONS_KHACH_HA]
GO
ALTER TABLE [dbo].[HOP_DONG]  WITH CHECK ADD  CONSTRAINT [FK_HOP_DONG_RELATIONS_NHAN_VIE] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOP_DONG] CHECK CONSTRAINT [FK_HOP_DONG_RELATIONS_NHAN_VIE]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HANG_NHAN_VIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [FK_KHACH_HANG_NHAN_VIEN]
GO
ALTER TABLE [dbo].[PHIEU_NHAP_NGUYEN_LIEU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NH_RELATIONS_NHA_CUNG] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEU_NHAP_NGUYEN_LIEU] CHECK CONSTRAINT [FK_PHIEU_NH_RELATIONS_NHA_CUNG]
GO
ALTER TABLE [dbo].[PHIEU_NHAP_NGUYEN_LIEU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NH_RELATIONS_NHAN_VIEN_] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU_NHAP_NGUYEN_LIEU] CHECK CONSTRAINT [FK_PHIEU_NH_RELATIONS_NHAN_VIEN_]
GO
ALTER TABLE [dbo].[PHIEU_NHAP_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NH_RELATIONS_NHAN_VIEN__] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU_NHAP_SAN_PHAM] CHECK CONSTRAINT [FK_PHIEU_NH_RELATIONS_NHAN_VIEN__]
GO
ALTER TABLE [dbo].[PHIEU_NHAP_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NH_RELATIONS_PHAN_XUO] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PHAN_XUONG] ([MAPX])
GO
ALTER TABLE [dbo].[PHIEU_NHAP_SAN_PHAM] CHECK CONSTRAINT [FK_PHIEU_NH_RELATIONS_PHAN_XUO]
GO
ALTER TABLE [dbo].[PHIEU_XUAT_NGUYEN_LIEU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_XU_RELATIONS_PHAN_XUO] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PHAN_XUONG] ([MAPX])
GO
ALTER TABLE [dbo].[PHIEU_XUAT_NGUYEN_LIEU] CHECK CONSTRAINT [FK_PHIEU_XU_RELATIONS_PHAN_XUO]
GO
ALTER TABLE [dbo].[PHIEU_XUAT_NGUYEN_LIEU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_XUATNL_RELATIONS_NHAN_VIE] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU_XUAT_NGUYEN_LIEU] CHECK CONSTRAINT [FK_PHIEU_XUATNL_RELATIONS_NHAN_VIE]
GO
ALTER TABLE [dbo].[PHIEU_XUAT_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_XU_RELATIONS_HOP_DONG] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOP_DONG] ([MAHD])
GO
ALTER TABLE [dbo].[PHIEU_XUAT_SAN_PHAM] CHECK CONSTRAINT [FK_PHIEU_XU_RELATIONS_HOP_DONG]
GO
ALTER TABLE [dbo].[PHIEU_XUAT_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_XUATSP_RELATIONS_NHAN_VIE] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU_XUAT_SAN_PHAM] CHECK CONSTRAINT [FK_PHIEU_XUATSP_RELATIONS_NHAN_VIE]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOA_RELATIONS_KHACH_HA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH_HANG] ([MAKH])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOA_RELATIONS_KHACH_HA]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOA_RELATIONS_NHAN_VIE] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOA_RELATIONS_NHAN_VIE]
GO
